<body>

  <div class="pessoas">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top" src='/../assets/foto.png'>
          <div class="card-body">
            <h5 class="card-title">Ali</h5>
            <p class="card-text">17 anos</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top" src='/../assets/foto.png'>
          <div class="card-body">
            <h5 class="card-title">Raissa</h5>
            <p class="card-text">17 anos</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top" src='/../assets/foto.png'>
          <div class="card-body">
            <h5 class="card-title">Yasmin</h5>
            <p class="card-text">17 anos</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top" src='/../assets/foto.png'>
          <div class="card-body">
            <h5 class="card-title">Fernanda</h5>
            <p class="card-text">17 anos</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top" src='/../assets/foto.png'>
          <div class="card-body">
            <h5 class="card-title">Pietro</h5>
            <p class="card-text">16 anos</p>
          </div>
        </div>
      </div>
    </div>
  </div>
   </body>

