.destaques1{
    margin-top: 120px;
    margin-left: 20px;
    margin-right: 20px;
}

.destaques2{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.destaques3{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.destaques4{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.destaques5{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.destaques6{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.destaques7{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}