<header>
  <nav class="navbar bg-body-tertiary sticky-top">
    <div class="container-fluid">

         <div class="logo">
          <img src="..\assets\fmlogo.png" width="80" height="80" >
         </div>
         <div class="btn-group">
           <a href="#" class={{btn1}} (click)="home()">Home</a>
           <a href="#" class={{btn2}} (click)="produtos()">Produtos</a>
           <a href="#" class={{btn3}} (click)="suporte()">Suporte</a>
         </div>
    </div>
  </nav>
</header>

<app-home [hidden]="hddtq"></app-home>

<app-produtos [hidden]="hdpdt"></app-produtos>

<app-suporte [hidden]="hdspt"></app-suporte>

<footer>
  <div class="bg-light text-center py-3">
    Roupas sob medida
  </div>

</footer>
