.logo {
    margin-top: 80px;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
  }

.btn-group {
    margin-top: 200px;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    
  }

.carousel-inner {
    margin-top: 10%;

}

